*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

h1{
    font-size: 2rem;
    font-family: 'Didact Gothic', Helvetica, Arial, sans-serif; 
}

h1 a{
    color: #1d1d1d;
}

p{
    font-size: 1.2rem;
    font-family: 'Didact Gothic', Helvetica, Arial, sans-serif; 
}

body{
    background-color: #eeeeee;
}

/*   *********************  HOME SLIDER  *********************   */
.single-item-l{
    width: 100vw;
    overflow: hidden;
    grid-area: content;
    display: block;
}

.single-item-l div img{
    height: 100%;
}

/* Small only */
@media screen and (max-width: 39.9375em) {
    .single-item-l{
        display: none;
    }
}


/*   ------------------------------------   */

.grid-container{
    height: 100vh;
    width: 100%;
    background-color: #eeeeee;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 20fr 1fr 5fr 1fr;
    grid-template-areas:
        "content content content content content"
        "name name name name name"
        "nav nav nav nav nav"
        "footer footer footer footer footer";
}

/* Small an Mediuam */
@media screen and (max-width: 39.9375em) {
    .grid-container{
        width: 100%;
        height: 100vh;
    }
}

/*   *********************  SLIDER  *********************   */
.slider-container{
    grid-area: content;
    background-color: #eeeeee;
    align-self: center;
}

/* Small only */
@media screen and (max-width: 39.9375em) {
    .slider-container{
        width: 100%;
    }
}

.slider{
    top: 50px;
    margin: 2% auto 2.5% auto;
}

/* XtrsLarge and up */
@media screen and (min-width: 101em) {
    .slider{
        width: 35%;
    }
}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 100em) {
    .slider{
        width: 45%;
    }
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    .slider{
        /*width: 60%;*/
        display: none;
    }
}

/* Small only */
@media screen and (max-width: 39.9375em) {
    .slider{
        display: none;
    }
}


.slider-for img{
    margin: 0 auto;
}

.slider-nav{
    margin-top: 2%;
}


.pics-small{
    margin-left: 4px;
    margin-right: 4px;
    filter: grayscale(100%);
    transition: .5s;
    overflow: hidden;
}

.pics-small:hover{
    filter: grayscale(0%);
    transform: scale(1.025);
}


/*   *********************  SLIDER SMALL *********************   */
.slider-small{
    width: 60%;
    padding-bottom: 14%;
    margin: 12vh auto 0 auto;
    grid-area: content;
}

/* large and up */
@media screen and (min-width: 64em) {
    .slider-small{
        display: none;
    }
}

/* Small only */
@media screen and (max-width: 39.9375em) {
    .slider-small{
        margin: 15vh auto 0 auto !important;
    }
}

.slides-small{
    width: 100%;
    margin-top: .5%;
    margin-bottom: .5%;
}


/*   *********************  NAME  *********************   */
.name{
    grid-area: name;
    background-color: #eeeeee;
    padding-left: 4%;
    padding-bottom: 1%;
    color:#1d1d1d;
    letter-spacing: 0.15rem;
}

/* XtrsLarge and up */
@media screen and (min-width: 101em) {
    .name{
        padding-left: 32.5%;
    }
}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 100em) {
    .name{
        padding-left: 27.5%;
    }
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    .name{
        /*padding-left: 20%;*/
        display: none;
    }
}

/* Small only */
@media screen and (max-width: 39.9375em) {
    .name{
        display: none;
    }
}


/*   *********************  NAME SMALL  *********************   */

.head-small{
    grid-area: name;
    background-color: #ddd;
    color:#1d1d1d;
    letter-spacing: 0.15rem;
    padding-left: 0%;
    padding-top: 8%;
    position: fixed;
    width: 100%;
    height: 10vh;
    border-bottom: 1px solid #b9b9b9;
}

.head-small h1{
    font-size: 1.4rem;
}

/* large and up */
@media screen and (min-width: 64em){
    .head-small{
        display: none;
    }
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    .head-small{
        padding-top: 3%;
        height: 8vh;
    }
}

.name-small{
    width: 85%;
    background-color:#ddd;
    float: left;
    padding-left: 5%;
}


/*   *********************  NAVIGATION SMALL  *********************   */

.nav-small{
    clear: both;
    text-decoration: none;
    text-align: center;
    line-height: 5rem;
    background: #ddd;
    width: 100%;
    display: none;
}

.nav-small a{
    color: #1d1d1d;
    border-bottom: 1px solid #b9b9b9;
    display: block;
}

label{
    display: block;
    width: 5%;
    padding-right: 5%;
    font-size: 30px;
    float: right;
    text-align: right;
    cursor: pointer;
}

#toggle{
    display: none;
}

#toggle:checked + .nav-small {
    display: block;
}


/*   *********************  NAVIGATION  *********************   */
.nav{
    grid-area: nav;
    background-color: #1d1d1d;
    padding-left: 4%;
    padding-top: 1%;
}

/* XtrsLarge and up */
@media screen and (min-width: 101em) {
    .nav{
        padding-left: 32.5%;
    }
}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 100em) {
    .nav{
        padding-left: 27.5%;
    }
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    .nav{
        /*padding-left: 20%;*/
        display: none;
    }
}


/* Small only */
@media screen and (max-width: 39.9375em) {
    .nav{
        display: none;
    }
}

.nav a{
    color: #eeeeee;
    text-transform: uppercase;
    line-height: 1.75;
}

.nav ul{
    list-style: none;
    width: 20%;
}

/*   *********************  FOOTER  *********************   */
.footer{
    grid-area: footer;
    background-color: #111111;
    text-align: right;
    padding-top: 0.4%;
    color: #dddddd;
}

.footer p{
    font-size: 0.9rem;
}

.footer a{
    color: #ffffff;
    font-weight: bold;
}

/* XtrsLarge and up */
@media screen and (min-width: 101em) {
    .footer{
        padding-right: 32.5%;
    }
}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 100em) {
    .footer{
        padding-right: 27.5%;
    }
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    .footer{
        /*padding-right: 20%;*/
        position: fixed;
        width: 100%;
        bottom: 0px;
        height: 5%;
    }
    
    .footer p{
        padding-top: 3.5%;
        padding-right: 5%;
    }
}

/* Small only */
@media screen and (max-width: 39.9375em) {
    .footer{
        position: fixed;
        width: 100%;
        bottom: 0px;
        height: 5%;
    }

    .footer p{
        padding-top: 3.5%;
        padding-right: 5%;
    }
}


.prevArrow{
    background: url('../img/prev.png');
}
.nextArrow{
    background: url('../img/next.png');
}